# TIA Portal
*.swp
*.bak
*.bak1
*.bak2
*.bup
*.dwl
*.dwl2
*.bakup
*.log
*.log1
*.log2
*.err
*.bakup
*.#*
*.~*

# SQL Server
*.bak
*.sqlbak
*.sqlbak2
*.ldf
*.mdf
*.ndf
*.sdf
*.log
*.trc
*.trn
*.wrk
*.xel
*.snk
*.xml
*.xls
*.xlsx
*.xlsm
*.csv
*.txt
*.json
*.config
